@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.match_bg {
  background: #f0eeee;
}
.checkmark-container {
    background: #fff;
}

.checkmark-container input {
    display: none;
}