.form-control-row {
    display: flex;
    flex-direction: row;
    justify-content: between;
    justify-items: center;
    background: white;
    width: 100%;
}
.form-control-padding {
    padding: 2px 2px 16px 16px;
}
.form-control-col {
    display: flex;
    flex-direction: column;
    padding: 2px 2px 2px 2px;
    justify-content: center;
    justify-items: center;
    background: white;
}
.orderline-control-row {
    display: flex;
    flex-direction: row;
    justify-content: between;
    justify-items: center;
    width: 100%;
}
.justify-end {
    justify-content: end;
    justify-items: bottom;
}
.orderline-control-row {
    border-bottom: solid 1px #bbb;
}
.form-control-title {
    text-size: 16px;
    font-style: oblique;
}
.form-control-subtitle {
    text-size: 12px;
    font-style: italic;   
}
.form-control {
    display: flex;
    flex-direction: row;
    justify-content: between;
}
.checkmark-container {
    display: inline-block;
    justify-content: center;
    justify-items: center;
    text-align: center;
    position: relative;
    background-color: #ddd;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    width: 100%;
}
.checkmark-container label {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 8px 2px;
    text-color: black;
    font-size: 16px;
}
.checkmark-container input {
    display: none;
}

