@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.match_bg {
  background: #f0eeee;
}
.checkmark-container {
    background: #fff;
}

.checkmark-container input {
    display: none;
}
::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}